* {
    margin: 0;
    font-family: sans-serif;
}

button {
    background-color: #3882F6;


}

img {
    display: block;
}

h1, h3 {
    color: #F9FAF8;
}

h3.logo {
    font-size: 24px;
}


ul {
    list-style: none;
    font-size: 18px;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-between;
}

.content-section-1 {
    display: flex;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}








